{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"}
:block/parent 
{:block/uuid #uuid "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"}
:block/uuid #uuid "6a0a0c25-0110-40ae-8bd7-4faafbe6c8bc"} 
{:block/content "dsa"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6a0a0c25-0110-40ae-8bd7-4faafbe6c8bc"}
:block/parent 
{:block/uuid #uuid "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"}
:block/properties 
{}
:block/uuid #uuid "6a0a0c4d-0c2e-442b-b45a-460ea179e81e"} 
{:block/created-at 1779130267605
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "xl"
:fill ""
:type "text"
:size [541 68]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6e324520-52e6-11f1-97f3-554ae4b639c3"
:padding 4
:fontWeight 400
:noFill true
:point [-40 432]
:lineHeight 1.2
:fontSize 48
:parentId "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:nonce 1779128507179
:italic false
:text "Current Progress (DSP)"}}
:block/updated-at 1779130267605} 
{:block/content "note"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6a0a0c4d-0c2e-442b-b45a-460ea179e81e"}
:block/parent 
{:block/uuid #uuid "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"}
:block/uuid #uuid "6a0b5d53-f7fd-41f9-9e1d-b6e64b49bcf3"} 
{:block/created-at 1779130129409
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Core Design"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [416 345.3906641578412]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "54a6a120-52e9-11f1-97f3-554ae4b639c3"
:noFill false
:point [-32 544]
:parentId "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:collapsedHeight 0
:nonce 1779129752699}}
:block/updated-at 1779130129409} 
{:block/content "Pitch Shifting"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6a0b5d53-f7fd-41f9-9e1d-b6e64b49bcf3"}
:block/parent 
{:block/uuid #uuid "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"}
:block/uuid #uuid "6a0b5dfd-d787-437c-afc5-1d3fd7eecfa1"} 
{:block/created-at 1779130012609
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "Pitch Shifting"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [416 301.3906458132046]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "93d76320-52e9-11f1-97f3-554ae4b639c3"
:noFill false
:point [448 544]
:parentId "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:collapsedHeight 0
:nonce 1779129858890}}
:block/updated-at 1779130012609} 
{:block/created-at 1779130245015
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "Distortion"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [416 259.9531434663505]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "45bdfd60-52ea-11f1-97f3-554ae4b639c3"
:noFill false
:point [928 544]
:parentId "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:collapsedHeight 0
:nonce 1779130157361}}
:block/updated-at 1779130245015} 
{:block/created-at 1779130395921
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "Tape"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [416 196.1718268708168]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "969ecb10-52ea-11f1-97f3-554ae4b639c3"
:noFill false
:point [1408 544]
:parentId "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:collapsedHeight 0
:nonce 1779130293013}}
:block/updated-at 1779130395921} 
{:block/created-at 1779130475339
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "Granular"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [416 113.39059232086964]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f4b9d3c0-52ea-11f1-97f3-554ae4b639c3"
:noFill false
:point [1888 544]
:parentId "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:collapsedHeight 0
:nonce 1779130450821}}
:block/updated-at 1779130475339})
:pages (
{:block/uuid #uuid "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6a0a0b5e-1d6a-407c-a67e-7423dc3d57fe"
:name "chronoverb"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("6e324520-52e6-11f1-97f3-554ae4b639c3" "54a6a120-52e9-11f1-97f3-554ae4b639c3" "93d76320-52e9-11f1-97f3-554ae4b639c3" "45bdfd60-52ea-11f1-97f3-554ae4b639c3" "969ecb10-52ea-11f1-97f3-554ae4b639c3" "f4b9d3c0-52ea-11f1-97f3-554ae4b639c3")}}
:block/updated-at 1779130475339
:block/created-at 1779043166201
:block/type "whiteboard"
:block/name "chronoverb"
:block/original-name "chronoverb"})}